<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"></head>
<body>
{% extends "base.html" %}
{% block content %}



<div class="card mb-3" style="max-width: 50%; margin-left: 25%;">
  <div class="row g-0">
   <div class="block-1">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/ex/stol-per-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/ex/stol-per-3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Стол переговорный</h5>
        <p class="card-text">Стол для заседаний — мебельное изделие обычно круглой, овальной или прямоугольной формы, используемое в переговорных, бизнес-ложах, VIP-зонах, кабинетах руководителей и других нежилых помещениях. При использовании стола для заседаний предполагается рассадка участников встречи по всему периметру изделия.</p>
        <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
      </div>
    </div>
  </div>
</div>



<div class="card mb-3" style="max-width: 50%; margin-left: 25%;">
  <div class="row g-0">
   <div class="block-1">
    <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/ex/prix-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/ex/prix-2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/ex/prix-3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Прихожие</h5>
        <p class="card-text">Элегантная прихожая с комбинированными дверьми и светильниками в стиле hi-tech. Одна дверь шкафа купе декорирована раттаном, другая выполнена под «гранит».</p>
        <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3" style="max-width: 50%; margin-left: 25%;">
  <div class="row g-0">
   <div class="block-1">
    <div id="carouselExampleControls3" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/ex/sk-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/ex/sk-2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/ex/sk-3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/ex/sk-4.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Шкафы-купе</h5>
        <p class="card-text">Шкаф купе прихожая — двери выполнены из ЛДСП (Egger) + цветное стекло.
Профиля и направляющие raumplus. Стеклянные полки, подсветка.

Изготавливается шкаф купе в прихожую по индивидуальным размерам на заказ.
Цвет и варианты дверей шкафа, а также внутреннее наполнение (полки для одежды,
выдвижные ящики, штанги, корзины и т. д.) дополнительно согласовываются с нашим специалистом.</p>
        <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
      </div>
    </div>
  </div>
</div>



<div class="card mb-3" style="max-width: 50%; margin-left: 25%;">
  <div class="row g-0">
   <div class="block-1">
    <div id="carouselExampleControls4" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/ex/kux-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/ex/kux-2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/ex/kux-3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/ex/kux-4.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Кухни</h5>
        <p class="card-text">Помещение для приготовления пищи. Слово «кухня» восходит к немецкому слову Küche, вошедшему в русский язык в Петровскую эпоху. В письменных источниках употребляется с 1717 года.
</p>
        <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>