<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="static/css/style3.css">
</head>
<body>
{% extends "base.html" %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<div class="block1">
  <h3>Мебель на заказ от производителя</h3>
<text>Представьте себе на минуту, что уже заказали мебель, которую ищете, и она установлена
в вашей квартире, на даче, в загородном доме, или офисе. Как преобразился интерьер и насколько увеличилось пространство вокруг? Какие эмоции вызывают такие изменения?

Как вам служит мебель, изготовленная на заказ, день за днём, насколько удобна она в
применении для различных ситуаций? А сейчас поделитесь этим с нами, и мы изготовим
мебель индивидуально для вас, учитывая все пожелания.

Замечательно, если ваше представление уже сложилось в конкретный образ.
Наши заказчики приносят нам фотографии мебели из каталогов, или интернета для более
чёткой передачи своих ожиданий.

Очень часто, нашим менеджерам по электронной почте присылают уже готовые чертежи
для предварительного расчёта, и изготовления мебели в дальнейшем. В таких случаях мы изготавливаем мебель, стремясь к максимальному соответствию образцу, или дорабатываем проект вместе с заказчиком.

Но все-таки чаще покупатели не очень хорошо представляют, как же должна выглядеть их будущая мебель и какой материал лучше выбрать.

Например, вам нужен очень вместительный, симпатичный шкаф для белья и одежды, и чтобы
в него можно было убрать ещё вон те две коробки с игрушками. При этом шкаф должен плавно вписаться в нишу между стеной и дверью, а в итоге, сделать комнату просторнее. Желательно, чтобы он сочетался по цвету с обивкой дивана и вписывался в общий интерьер.

Этой информации нам будет более чем достаточно, для начала разработки индивидуального дизайна вашей мебели.

Изготовление мебели по индивидуальному проекту — это в первую очередь личный контакт, диалог и взаимная симпатия мастера и заказчика. Мы будем рады знакомству с Вами.</text>

  </div>

<div class="pic" id="navbarPic">
  <ul class="navbar navbar-nav me-auto mb-0 mb-lg-0">
      <div class="navbar pic">
          <img src="/static/img/pg/pg2.jpg" class="img-fluid" alt="...">
          <img src="/static/img/pg/pg1.jpg" class="img-fluid" alt="...">
          <img src="/static/img/pg/pg3.jpg" class="img-fluid" alt="...">
          <img src="/static/img/pg/pg4.jpg" class="img-fluid" alt="...">
          <img src="/static/img/pg/pg5.jpg" class="img-fluid" alt="...">
          <img src="/static/img/pg/pg6.jpg" class="img-fluid" alt="...">

      </div>
  </ul>
</div>

<div class="block2">
    <h3>Материалы</h3>
    <br>
    <div class="materials">
        <div class="pic">
          <img src="/static/img/mt/mt1.jpg" class="material" alt="...">
          <img src="/static/img/mt/mt2.gif" class="material" alt="...">
          <img src="/static/img/mt/mt3.jpg" class="material" alt="...">
          <img src="/static/img/mt/mt4.jpg" class="material" alt="...">
          <img src="/static/img/mt/mt5.gif" class="material" alt="...">
          <img src="/static/img/mt/mt6.jpg" class="material" alt="...">
          <img src="/static/img/mt/mt7.jpg" class="material" alt="...">
          <img src="/static/img/mt/mt8.jpg" class="material" alt="...">
          <img src="/static/img/mt/mt9.gif" class="material" alt="...">

      </div>
    </div>
    </div>



{% endblock %}
</body>
</html>