html{
background-color: white;
}

.logo-q{
    height: 150px;
    width: 300px;
}

.container-fluid{
background-color: #ffa70f;
margin-left: 0px;
}

.nav-item{
font-family: "Amazing Grotesk", serif;
font-size: 250%;
margin-left: 55px;
}

.def{
    margin-left: 0%;
    height: 80px;
    width: 120px;
}